WebService/calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calc/" name="CalculadoraServicosImpService">
<types></types>
<message name="insertUser">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="insertUserResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="subtrair">
<part name="arg0" type="xsd:float"></part>
<part name="arg1" type="xsd:float"></part>
</message>
<message name="subtrairResponse">
<part name="return" type="xsd:float"></part>
</message>
<message name="somar">
<part name="arg0" type="xsd:float"></part>
<part name="arg1" type="xsd:float"></part>
</message>
<message name="somarResponse">
<part name="return" type="xsd:float"></part>
</message>
<message name="verifyUser">
<part name="arg0" type="xsd:boolean"></part>
</message>
<message name="verifyUserResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="CalculadoraServicos">
<operation name="insertUser">
<input wsam:Action="http://calc/CalculadoraServicos/insertUserRequest" message="tns:insertUser"></input>
<output wsam:Action="http://calc/CalculadoraServicos/insertUserResponse" message="tns:insertUserResponse"></output>
</operation>
<operation name="subtrair" parameterOrder="arg0 arg1">
<input wsam:Action="http://calc/CalculadoraServicos/subtrairRequest" message="tns:subtrair"></input>
<output wsam:Action="http://calc/CalculadoraServicos/subtrairResponse" message="tns:subtrairResponse"></output>
</operation>
<operation name="somar" parameterOrder="arg0 arg1">
<input wsam:Action="http://calc/CalculadoraServicos/somarRequest" message="tns:somar"></input>
<output wsam:Action="http://calc/CalculadoraServicos/somarResponse" message="tns:somarResponse"></output>
</operation>
<operation name="verifyUser">
<input wsam:Action="http://calc/CalculadoraServicos/verifyUserRequest" message="tns:verifyUser"></input>
<output wsam:Action="http://calc/CalculadoraServicos/verifyUserResponse" message="tns:verifyUserResponse"></output>
</operation>
</portType>
<binding name="CalculadoraServicosImpPortBinding" type="tns:CalculadoraServicos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="insertUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://calc/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://calc/"></soap:body>
</output>
</operation>
<operation name="subtrair">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://calc/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://calc/"></soap:body>
</output>
</operation>
<operation name="somar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://calc/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://calc/"></soap:body>
</output>
</operation>
<operation name="verifyUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://calc/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://calc/"></soap:body>
</output>
</operation>
</binding>
<service name="CalculadoraServicosImpService">
<port name="CalculadoraServicosImpPort" binding="tns:CalculadoraServicosImpPortBinding">
<soap:address location="http://192.168.9.28:8000/calculadora"></soap:address>
</port>
</service>
</definitions>